<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="bg-zinc-900 text-white w-full h-screen">
      <div class="p-4 w-full rounded">
        <h1 class="mt-8 text-xl ml-10 font-bold mb-4 tracking-tighter">
          All Users
        </h1>
        <div class="flex gap-4 flex-wrap">
          <% if(users.length > 0) { %>
            <% users.forEach((user) => { %>
            <div class="max-w-72 rounded-lg bg-zinc-700 mt-12 p-4">
              <div class="w-full h-45 bg-red-600 rounded-lg">
                  <img src="<%= user.image %>" alt="" class="h-full w-full object-cover">
              </div>
              <h1 class="mt-2 font-bold text-xl tracking-tighter">
                <%= user.name %>
              </h1>
              <h3 class="text-zinc-500 text-md"><%= user.email %> </h3>
              <div class="flex gap-4 mt-4">
                <a href="/edit/<%= user._id %>" class="text-zinc-400">Edit user</a>
                <a href="/delete/<%= user._id %>" class="text-red-700">Delete user</a>
              </div>
            </div>
            <% }) %>
         <% } else { %>
                <h1 class="mt-6 text-zinc-500">No User Yet.</h1>
        <% } %>  
        </div>
      </div>
      <div class="mt-8 ml-5 flex justify-center">
        <a
          href="/"
          class="text-center font-bold text-md py-2 px-5 rounded-lg bg-gray-700"
        >
          Back to Home
        </a>
      </div>
    </div>
  </body>
</html>
